
                          .btn-proceed {
                              background: #FF9900;
                              width: 90%;
                              height: 56px;
                              font-size: 21px;
                              margin: 10px auto;
                              border-radius: 4px;
                              color: red;
                              display: flex;
                              justify-content: space-between;
                              align-items: center;
                          }
                          
                          .pagination{
                              font-size: 19px;
                              text-align: center;
                              margin-bottom: 20px;
                          }
                          .pagination button{
                              margin-right: 20px;
                          
                          }
                          .pagination .selected{
                              background-color: #FF9900;
                          }